.input-box {
    display: flex;
    justify-content: center;
    margin-top: -3vh;
    margin-bottom: 3rem;
}

.input-create {
    margin-right: 10px;
    width: 60vw;
    max-width: 1000px;
    padding: 1.5vw;

    color: var(--gray-100);
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    font-size: 1rem;
}

.input-create-btn {
    background-color: var(--blue-dark);
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    font-weight: 700;
    color: var(--gray-100);

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    
    width: 90px;
}

.input-create-btn:hover {
    background: var(--blue);
    cursor: pointer;
}

.input-create-btn > span {
    margin-left: 0.25rem;
}

@media (max-width: 500px) {
    .input-create {
        margin-right: 2%;
    }
    
}
