.task-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--gray-500);
    border-radius: 4px;
    padding: 1rem 0;
    margin: 0.5rem;
    overflow-x: scroll;
}

.task-title, .task-title-unchecked {
    text-align: start;
    line-break: anywhere;
    margin: 0px 0px;
    color: var(--gray-100);
    font-size: 1rem;
    margin-left: 10px;

    width: 100%;

}

.task-title-unchecked {
    color: var(--gray-300);
    text-decoration: line-through;
}
